## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

## NuGet
*.nupkg
*.snupkg
packages/

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Ww][Ii][Nn]32/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
msbuild.binlog
TestResults/

## Visual Studio
.vs/
*.csproj.user
*.dbmdl
*.jfm
launchSettings.json

## Rider
.idea/

## OS files
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store

## Claude Code
.claude/
